# Prepare UCI Auto MPG Dataset
 - The data concerns city-cycle fuel consumption in miles per gallon (MPG), to be predicted
 - Data was original provided by Ross Quinlan (1993) and can be [soured from UCI](https://archive.ics.uci.edu/dataset/9/auto+mpg)
 - Original data comprises of 3 multivalued discrete and 5 continuous attributes
 - Only the 4 continuous features will be used in this analysis to predict MPG continuous response, namely:
      - displacement
      - horsepower
      - weight      
      - acceleration

### Imports

In [9]:
import pandas as pd

### Global constants

In [10]:
DATA_SOURCE_URL = 'http://archive.ics.uci.edu/ml/machine-learning-databases/auto-mpg/auto-mpg.data'
ALL_COLUMNS = column_names = ['MPG', 'Cylinders', 'Displacement', 'Horsepower', 'Weight',
                'Acceleration', 'Model Year', 'Origin']
EXCLUDED_COLUMNS = ['Cylinders', 'Model Year', 'Origin']
INCLUDED_COLUMNS = list(set(ALL_COLUMNS).difference(set(EXCLUDED_COLUMNS)))
SOURCE_DELIMITER = " "
TARGET_DELIMITER = ";"
IS_SKIP_INITIAL_SPACE = True
DATA_LOCAL_FILE_PATH = "../data/uci_auto_mpg_dataset.csv"
DATA_ALL_COLS_LOCAL_FILE_PATH = "../data/uci_auto_mpg_dataset_all_cols.csv"

### Get the data

In [3]:
def getData():
    raw_dataset_df = pd.read_csv(
        DATA_SOURCE_URL,
        names=ALL_COLUMNS,
        na_values='?', 
        comment='\t',
        sep=SOURCE_DELIMITER, 
        skipinitialspace=IS_SKIP_INITIAL_SPACE
    )    
    return raw_dataset_df
    
raw_dataset_df = getData()

### Clean the data (with column exclusions) and persist to disc

In [4]:
def cleanDataWithColumnExclusions():
    raw_dataset_modified_df = raw_dataset_df.copy()[INCLUDED_COLUMNS]
    raw_dataset_modified_df.dropna(inplace=True)
    print(f"Read {DATA_LOCAL_FILE_PATH} data..")
    print(f"The data has these columns:\n{list(raw_dataset_modified_df.columns)}")
    raw_dataset_modified_df.to_csv(DATA_LOCAL_FILE_PATH, index=False, sep=TARGET_DELIMITER)
    return raw_dataset_modified_df

raw_dataset_modified_df = cleanDataWithColumnExclusions()

Read ../data/uci_auto_mpg_dataset.csv data..
The data has these columns:
['MPG', 'Weight', 'Horsepower', 'Displacement', 'Acceleration']

### Analysis of data basic stats

In [5]:
raw_dataset_modified_df.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
MPG,392.0,23.445918,7.805007,9.0,17.000,22.75,29.000,46.6
Weight,392.0,2977.584184,849.402560,1613.0,2225.250,2803.50,3614.750,5140.0
Horsepower,392.0,104.469388,38.491160,46.0,75.000,93.50,126.000,230.0
Displacement,392.0,194.411990,104.644004,68.0,105.000,151.00,275.750,455.0
Acceleration,392.0,15.541327,2.758864,8.0,13.775,15.50,17.025,24.8

### Clean the data (with no column exclusions) and persist to disc
 - Dataset will include all columns i.e. both continious and categorical features
 - The 'Origin' categorical feature will be converted to a one-hot encoding

In [13]:
def convertOriginColumn2OneHotEncoding():
    raw_dataset_all_df = raw_dataset_df.copy()
    raw_dataset_all_df['Origin'] = raw_dataset_all_df['Origin'].map({1: 'USA', 2: 'Europe', 3: 'Japan'})
    raw_dataset_all_modified_df = pd.get_dummies(raw_dataset_all_df, columns=['Origin'], prefix='', prefix_sep='')
    raw_dataset_all_modified_df.Europe = raw_dataset_all_modified_df.Europe.astype(int)
    raw_dataset_all_modified_df.Japan = raw_dataset_all_modified_df.Japan.astype(int)
    raw_dataset_all_modified_df.USA = raw_dataset_all_modified_df.USA.astype(int)
    return raw_dataset_all_modified_df

raw_dataset_all_modified_df = convertOriginColumn2OneHotEncoding()
raw_dataset_all_modified_df.tail()

,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model Year,Europe,Japan,USA
393,27.0,4,140.0,86.0,2790.0,15.6,82,0,0,1
394,44.0,4,97.0,52.0,2130.0,24.6,82,1,0,0
395,32.0,4,135.0,84.0,2295.0,11.6,82,0,0,1
396,28.0,4,120.0,79.0,2625.0,18.6,82,0,0,1
397,31.0,4,119.0,82.0,2720.0,19.4,82,0,0,1

In [14]:
def cleanDataWithColumnExclusions():
    raw_dataset_all_clean_df = raw_dataset_all_modified_df.copy()
    raw_dataset_all_clean_df.dropna(inplace=True)    
    print(f"Read {DATA_ALL_COLS_LOCAL_FILE_PATH} data..")
    print(f"The data has these columns:\n{list(raw_dataset_modified_df.columns)}")
    raw_dataset_all_clean_df.to_csv(DATA_ALL_COLS_LOCAL_FILE_PATH, index=False, sep=TARGET_DELIMITER)
    return raw_dataset_all_clean_df

raw_dataset_modified_df = cleanDataWithColumnExclusions()

Read ../data/uci_auto_mpg_dataset_all_cols.csv data..
The data has these columns:
['MPG', 'Cylinders', 'Displacement', 'Horsepower', 'Weight', 'Acceleration', 'Model Year', 'Europe', 'Japan', 'USA']